#NEXT
NEXT_PUBLIC_SITE_URL=http://localhost:3000

//supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=

//STRIPE
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

NEXT_PUBLIC_STRIPE_WEBHOOK_SECRET=

//prisma
DATABASE_URL=   

//AFRILANDBANK
AFRILANDBANK_API_KEY=
AFRILAND_SECRET_KEY=

//MTN MOBILE MONEY
MTN_API_KEY=

//ORANGE MONEY
ORANGE_API_KEY=